.login-container {
  background-image: url("../assets/giftshop.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  font-family: "Hind Siliguri", sans-serif;
  margin-bottom: 0px;
  margin-top: 0px;
}

.login-form {
  width: 300px;
  padding: 25px;
  border-radius: 40px;
  background: linear-gradient(
    90deg,
    rgba(14, 181, 171, 0.9641106442577031) 0%,
    rgba(12, 170, 231, 1) 0%,
    rgba(202, 239, 246, 1) 0%
  );
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  width: 93%;
  padding: 10px;
  border: 1px solid #4121d2;
  border-radius: 10px;
}

.login-container button {
  width: 100%;
  padding: 8px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #45a049;
}

.new-user-message {
  text-align: center;
  margin-top: 10px;
}

.new-user-message a {
  color: #007bff;
  text-decoration: none;
}

.new-user-message a:hover {
  text-decoration: underline;
}

.welcome {
  text-align: center;
}

@media (max-width: 600px) {
  .login-container {
    background-image: url("../assets/giftshop_mobile.jpg");
    background-size: cover;
  }
}
