.order-container-holder {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.order-container {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 5px;
}

.form1 {
  margin-bottom: 15px;
}

.form1 input[type="number"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.form1 input[type="text"],
.form1 input[type="email"],
.form1 textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.form1 textarea {
  height: 80px;
  resize: vertical;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  display: block;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  padding: 10px 32px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.dropdown-toggle:hover {
  background-color: #0056b3;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 200px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  z-index: 1;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.dropdown-content {
  padding: 10px;
}

.dropdown-content label {
  display: block;
  margin-bottom: 10px;
}

.dropdown-content input[type="checkbox"] {
  margin-right: 5px;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #218838;
}

.form1 input[type="date"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.fa-caret-down {
  margin-left: 5px;
}

.form1 .error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.uneditable-input {
  background-color: #f8f8f8aa;
  color: black;
  cursor: not-allowed;
}
