.fromnew{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    border-radius: 10px;
    border: 1px solid rgb(225, 225, 225);
    margin-bottom: 10px;
}
.ordercontainer{
    width: 80%;
     position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%,-50%);
}
.fromnew div{
    padding: 15px;
}
.fromnewbody:hover{
    background-color: rgb(44, 44, 255);
    color: white;
    transition: ease-in-out;
    animation-name: singlerow;
    animation-duration: 2s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(43, 92, 255, 0.19);

}

  @keyframes singlerow  {
  
    100%{
            transform: scale(1.1);
             }
}
button{
    background: transparent;
    color: red;
    border: none;
}
.giftname{
    text-align: left;
}
.fromnewheader{
    background-color: rgb(224, 224, 224);
}
.deletebutton{
    cursor: pointer;
}
.order-heading{
    text-align: center;
}